<md-content layout-padding>
    <form name="formCrud" ng-submit="formCrud.$valid && save()" layout="row" layout-wrap>
        <div ng-repeat="field in fields" flex="{{field.flex || 'grow'}}" ng-if="(formType=='create' && !field.createHiden) || (formType=='edit' && !field.editHiden) || (formType=='detail' && !field.detailHiden)">
            <div ng-if="field.templateUrl" ng-include="field.templateUrl"></div>
            <md-input-container class="md-block" flex ng-if="(field.type == 'text' || !field.type) && field.name">
                <label>{{field.label | translate}}</label>
                <input ng-model="item[field.name]" name="{{field.name}}" ng-required="field.required"
                        ng-readonly="field.readonly || readonly" ng-minlength="field.minlength"
                        ng-maxlength="field.maxlength"
                       ng-pattern="field.pattern">
                <div ng-messages="formCrud[field.name].$error">
                    <div ng-message="required"><translate>Este campo es requerido.</translate></div>
                    <div ng-message="minlength"><translate>Mínimo de caracteres</translate> ({{field.minlength}}).</div>
                    <div ng-message="maxlength"><translate>Máximo de caracteres</translate> ({{field.maxlength}}).</div>
                    <div ng-message="pattern">{{field.patternErrorMessage || ('El valor ingresado no tiene el formato correcto' | translate)}}</div>
                </div>
            </md-input-container>
            <md-input-container class="md-block" flex ng-if="field.type == 'email'">
                <label>{{field.label | translate}}</label>
                <input ng-model="item[field.name]" name="{{field.name}}" ng-required="field.required" type="email"
                       ng-readonly="field.readonly || readonly" ng-minlength="field.minlength"
                       ng-maxlength="field.maxlength"
                       ng-pattern="field.pattern">
                <div ng-messages="formCrud[field.name].$error">
                    <div ng-message="required"><translate>Este campo es requerido.</translate></div>
                    <div ng-message="minlength"><translate>Mínimo de caracteres</translate> ({{field.minlength}}).</div>
                    <div ng-message="maxlength"><translate>Máximo de caracteres</translate> ({{field.maxlength}}).</div>
                    <div ng-message="pattern">{{field.patternErrorMessage || ('El valor ingresado no tiene el formato correcto' | translate)}}</div>
                </div>
            </md-input-container>
            <md-input-container class="md-block" flex ng-if="field.type == 'integer'">
                <label>{{field.label | translate}}</label>
                <input type="number" ng-model="item[field.name]" name="{{field.name}}" ng-required="field.required"
                       ng-readonly="field.readonly || readonly" ng-min="field.min" ng-max="field.max" step="{{field.step || 1}}">
                <div ng-messages="formCrud[field.name].$error">
                    <div ng-message="required"><translate>Este campo es requerido.</translate></div>
                    <div ng-message="min"><translate>Valor mínimo</translate> ({{field.min}}).</div>
                    <div ng-message="max"><translate>Valor máximo</translate> ({{field.max}}).</div>
                </div>
            </md-input-container>
            <md-input-container class="md-block" flex ng-if="field.type == 'decimal'">
                <label>{{field.label | translate}}</label>
                <input type="number" ng-model="item[field.name]" name="{{field.name}}" ng-required="field.required"
                       ng-readonly="field.readonly || readonly" ng-min="field.min" ng-max="field.max" step="{{field.step || any}}">
                <div ng-messages="formCrud[field.name].$error">
                    <div ng-message="required"><translate>Este campo es requerido.</translate></div>
                    <div ng-message="min"><translate>Valor mínimo</translate> ({{field.min}}).</div>
                    <div ng-message="max"><translate>Valor máximo</translate> ({{field.max}}).</div>
                </div>
            </md-input-container>
            <div class="md-block" flex ng-if="field.type == 'image'">
                <lf-ng-md-file-input name="{{field.name | translate}}" lf-files="files[field.name]" lf-mimetype="image/*"
                                        lf-placeholder="{{field.label}}" lf-browse-label="Abrir" lf-remove-label="Eliminar">
                </lf-ng-md-file-input>
                <div ng-messages="formCrud[field.name].$error" md-colors="{color: 'warn'}">
                    <div ng-message="mimetype"><translate>El archivo no tiene el formato correcto.</translate></div>
                </div>
                <br />
            </div>
            <div class="md-block" flex ng-if="field.type == 'map'">
                <ng-map zoom="{{field.zoom || 11}}" center="{{item[field.lat]}},{{item[field.lng]}}">
                    <marker position="{{item[field.lat]}},{{item[field.lng]}}" title="drag me" draggable="true" on-dragend="onMarkerDrag()" data="{{field}}"></marker>
                </ng-map>
            </div>
            <md-input-container class="md-block" flex ng-if="field.type == 'boolean'">
                <md-switch ng-model="item[field.name]" ng-disabled="field.readonly || readonly" aria-label="field.label">
                    {{field.label | translate}}
                </md-switch>
            </md-input-container>
            <md-input-container class="md-block" flex ng-if="field.type == 'select'">
                <label>{{field.label | translate}}</label>
                <md-select ng-model="item[field.name]" ng-if="field.multiple" multiple ng-disabled="field.readonly || readonly">
                    <md-option ng-value="mdSelectItem[field.value]" ng-repeat="mdSelectItem in field.data()">{{mdSelectItem[field.text]}}</md-option>
                </md-select>
                <md-select ng-model="item[field.name]" ng-if="!field.multiple" ng-disabled="field.readonly || readonly">
                    <md-option ng-value="mdSelectItem[field.value]" ng-repeat="mdSelectItem in field.data()">{{mdSelectItem[field.text]}}</md-option>
                </md-select>
            </md-input-container>
            <md-input-container class="md-block" flex ng-if="field.type == 'date'">
                <label>{{field.label | translate}}</label>
                <md-datepicker ng-model="item[field.name]" md-min-date="field.minDate" md-max-date="field.maxDate"></md-datepicker>                
                <div ng-messages="formCrud[field.name].$error">
                    <div ng-message="valid">The entered value is not a date!</div>
                    <div ng-message="required">This date is required!</div>
                    <div ng-message="mindate">Date is too early!</div>
                    <div ng-message="maxdate">Date is too late!</div>
                </div>
            </md-input-container>
        </div>
        <div ng-repeat="message in errors" md-colors="{color:'warn'}" flex="grow">{{message}}</div>
        <div layout="row" layout-align="center center" flex="grow">
            <md-button class="md-raised" ng-click="cancel()"><translate>Cancel</translate></md-button>
            <div flex="5"></div>
            <md-button class="md-raised md-primary" type="submit" ng-disabled="readonly"><translate>Save</translate></md-button>
        </div>
    </form>
</md-content>