<div ng-message="required">{{translate(field.messageRequired || text.messageRequired)}}</div>
<div ng-message="minlength">{{translate(field.messageMinlength || text.messageMinlength)}} ({{field.minlength}}).</div>
<div ng-message="maxlength">{{translate(field.messageMaxlength || text.messageMaxlength)}} ({{field.maxlength}}).</div>
<div ng-message="pattern">{{translate(field.messagePattern || text.messagePattern)}}</div>
<div ng-message="min">{{translate(field.messageMin || text.messageMin)}} ({{field.min}}).</div>
<div ng-message="max">{{translate(field.messageMax || text.messageMax)}} ({{field.max}}).</div>
<div ng-message="mimetype">{{translate(field.messageMimetype || text.messageMimetype)}}</div>
<div ng-message="valid">{{translate(field.messageValid || text.messageValid)}}</div>
<div ng-message="mindate">{{translate(field.messageMindate || text.messageMindate)}} {{field.minDate | date:'shortDate'}}.</div>
<div ng-message="maxdate">{{translate(field.messageMaxdate || text.messageMaxdate)}}  {{field.maxDate | date:'shortDate'}}.</div>