<div layout-margin layout-padding>
    <div>
        <div class="md-default" layout="row" layout-align="start center">
            <md-button class="md-raised md-primary" ng-click="table.create($event)" ng-if="!options.noCreate"><translate>Nuevo</translate></md-button>
            <div ng-if="options.templateTools" ng-include="options.templateTools" flex layout="row"></div>
            <div flex></div>
            <div layout="row">
                <md-button class="md-icon-button md-primary" ng-disabled="true">
                    <md-icon>&#xE8B6;</md-icon>
                </md-button>
                <md-autocomplete md-search-text="searchText" type="search" placeholder="" md-items="item in []"></md-autocomplete>
            </div>
        </div>
        <div ng-if="formType == 'inline' && rowCreate">
            <md-card flex layout-fill style="background-color: white">
                <md-crud-form options="options" ng-model="rowCreate" on-open="onOpen" on-edit="onEdit" on-cancel="onCancel"
                            on-sussces="onSussces" template-url="templateUrl" editable="true"></md-crud-form>
            </md-card>
            <br/>
        </div>
        <md-table-container md-whiteframe="1">
            <table data-md-table md-progress="table.promise">
                <thead md-head data-md-order="table.order" md-on-reorder="table.refresh" style="background-color: white">
                    <tr md-row>
                        <th md-column ng-repeat="field in fields" ng-if="field.columnHiden != true">{{field.label | translate}}</th>
                        <th md-column style="min-width:132px;width:132px" ng-if="!options.noDelete"></th>
                        <th md-column style="min-width:60px;width:60px" ng-if="options.noDelete"></th>
                    </tr>
                </thead>
                <tbody md-body>
                    <tr md-row md-select="row" ng-repeat-start="row in table.rows | filter:searchText | limitTo: table.limit: (table.page - 1) * table.limit"
                        ng-mouseover="row.mouserover=true" ng-mouseleave="row.mouserover=false" 
                        ng-class="{ 'md-selected': row.mouserover || rowSelected == row }"
                        ng-click="table.detail(row, $event)">
                        <td md-cell ng-repeat="field in fields" ng-if="field.columnHiden != true">
                            <div ng-switch="ef(field.type, row)" ng-if="!field.columnTemplate">
                                <span ng-switch-when="boolean">
                                    <md-switch ng-model="row[field.name]" ng-disabled="true" aria-label="{{field.label | translate}}"></md-switch>
                                </span>
                                <image ng-switch-when="image" ng-src="{{row[field.name]}}" style="max-height:90px"></image>
                                <span ng-switch-when="date">{{ row[field.name] | date:'shortDate' }}</span>
                                <span ng-switch-default>
                                    {{row[field.name] | translate}}
                                </span>
                            </div>
                            <span ng-if="field.columnTemplate" ng-bind-html="stringToHtml(field.columnTemplate, row)"></span>
                        </td>
                        <td md-cell>
                            <md-button class="md-icon-button md-accent" ng-show="row.mouserover || rowSelected == row " ng-click="table.edit(row, $event)">
                                <md-icon>&#xE3C9;</md-icon>
                            </md-button>
                            <md-button class="md-icon-button md-accent" ng-show="row.mouserover || rowSelected == row " ng-click="table.delete(row[options.id], $event)" ng-if="!options.noDelete">
                                <md-icon>&#xE92B;</md-icon>
                            </md-button>
                        </td>
                    </tr>
                    <tr ng-repeat-end ng-if="rowSelected == row">
                        <td colspan="{{fields.length + 1}}">
                            <md-card layout-fill style="background-color: white">
                                <md-crud-form ng-if="formEditable" options="options" ng-model="row" on-open="onOpen" on-edit="onEdit" on-cancel="onCancel" 
                                           on-sussces="onSussces" template-url="templateUrl" editable="formEditable"></md-crud-form>
                                <md-crud-form ng-if="!formEditable" options="options" ng-model="row" on-open="onOpen" on-edit="onEdit" on-cancel="onCancel" 
                                           on-sussces="onSussces" template-url="templateUrl" editable="formEditable"></md-crud-form>
                            </md-card>
                        </td>
                    </tr>
                </tbody>
            </table>
            <md-table-pagination md-limit="table.limit"
                                 md-limit-options="[10, 20, 30]"
                                 md-page="table.page"
                                 md-total="{{(table.rows | filter:searchText).length}}"
                                 md-page-select
                                 md-label="{{table.labels}}"
                                 style="background-color: white">
            </md-table-pagination>
        </md-table-container>
    </div>
</div>