<!DOCTYPE html>
<html lang="en" ng-app="app">

  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Angular material crud</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.3/angular-material.min.css">
    <link href="https://cdn.rawgit.com/daniel-nagy/md-data-table/a9b7561d/dist/md-data-table.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link href="https://cdn.rawgit.com/alenaksu/mdPickers/0.7.4/dist/mdPickers.min.css" rel="stylesheet">
  </head>

  <body layout="column" ng-controller="mainController">

    <md-toolbar>
      <div class="md-toolbar-tools">
        <div class="md-title">Angular material crud</div>
        <div flex></div>
        <md-button ng-click="btnSpanish()">Spanish</md-button>
        <md-button ng-click="btnEnglish()">English</md-button>
      </div>
    </md-toolbar>
    <md-content laout="column" flex>
      <md-tabs md-dynamic-height md-border-bottom>
        <md-tab label="Simple">
          <div layout="row" layout-padding layout-margin>
            <md-switch ng-model="crudOptions.noEdit">noEdit</md-switch>
            <md-switch ng-model="crudOptions.noDelete">noDelete</md-switch>
            <md-switch ng-model="crudOptions.noCreate">noCreate</md-switch>
            <md-switch ng-model="crudOptions.noDetail">noDetail</md-switch>
            <md-switch ng-model="crudOptions.noSearch">noSearch</md-switch>
          </div>
          <md-crud options="crudOptions"></md-crud>
        </md-tab>
        <md-tab label="Server side">
          <md-crud options="crudOptions2"></md-crud>
        </md-tab>
      </md-tabs>
    </md-content>

    <!-- Angular Material Dependencies -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.11/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.11/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.11/angular-messages.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.11/angular-sanitize.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.11/angular-aria.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.3/angular-material.min.js"></script>

    <script src="https://cdn.rawgit.com/daniel-nagy/md-data-table/a9b7561d/dist/md-data-table.min.js"></script>
    <script src="https://cdn.rawgit.com/rubenv/angular-gettext/7d7ac672/dist/angular-gettext.min.js"></script>
    <script src="https://cdn.rawgit.com/alenaksu/mdPickers/0.7.4/dist/mdPickers.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js"></script>
    
    <script src="../dist/md-crud.js"></script>    
    <script src="app.js"></script>

  </body>
</html>